<div class='post'>
    <h1><a href="<%= '/posts/' + post.id %>"><%= post.get('title') %></a></h1>
    <h5><%= formatTime(post.createdAt) %></h5>
    <div class='content'>
        <p><%- post.get('userDescription').replace(/\n/g, '<br />') %></p>
    </div>
</div>