<!-- Include the header partial and specify a title -->
<% title = post.get('title') %>
<% include /header %>

<!-- content -->
<div class='header'></div>
  
<% include _post %>

<!-- Include the footer partial -->
<% include /footer %>