<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <link rel='stylesheet' href='assets/css/mainpage.css'>
	</head>
	<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Spree</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="posts">Spree Web (Beta)</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <img class="center-block img-responsive" src="images/SpreeLogo.png" />
            <h1 class="cover-heading">A sustainable, mobile marketplace</h1>
            <p class="lead">Spree is a mobile application that allows students to sell what they don't need to others on campus.</p>
            <!-- <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p> -->
          </div>
          <div class="download-block" data-reactid=".0.3">
            <input class="empty phone-number" value="" type="phone" placeholder="(555) 812-1240" data-reactid=".0.3.0">
            <br data-reactid=".0.3.1">
            <button class="button" data-reactid=".0.3.2">Text me the app</button>
            <div hidden="" class="status-message" data-reactid=".0.3.3">We have just texted you the app.</div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Founded at Santa Clara University, 2015</p>
            </div>
          </div>

        </div>

      </div>

    </div>
	</body>
<% include /footer %>
