<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <link rel='stylesheet' href='assets/css/mainpage.css'>
	</head>
	<body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="container-fluid upper">
              <div class="col-md-4">
                  <img src="images/spreeLogo.png" class="img-responsive">
              </div>
              <div class="col-md-8">
                <div class="message">
                  <h1>We are revolutionizing local commmerce.</h1>
                  <h2>Stay tuned for new updates.</h2>
                </div>
              </div>
            </div>
          </div>
        
          <div class="mastfoot">
            <div class="inner">
              <p>Founded at Santa Clara University, 2015</p>
            </div>
          </div>

        </div>

      </div>

    </div>
	</body>
<% include /footer %>
